<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'practise.css' %}">
    </head>
    <body>
        <div style="
        background-color: bisque;
        display: grid;
        grid-template-columns:100px 1fr 1fr;
            ">
            <div style="
            background-color: aqua;
            display: inline-block;
                ">
                div1
            </div>
            <div style = "
            background-color: aquamarine;
            display: inline-block;
            ">
                div2
            </div>
            <div style="
            background-color: aqua;
            display: inline-block;
                ">
                div1
            </div>
        </div>
        <div style="
        background-color: bisque;
        display: flex;
        margin-top: 100px;
        justify-content: space-between;
            ">
            <div style="
            background-color: aqua;
            display: flex;
            height: 100px;
            width: 100px;
            justify-content: center;
            align-items: center;
                ">
                div1
            </div>
            <div style = "
            background-color: aquamarine;
            display: inline-block;
            height: 100px;
            width: 100px;
            ">
                div2
            </div>
            <div style="
            background-color: aqua;
            display: flex;
            height: 100px;
            width: 100px;
            justify-content: center;
            align-items: center;
                ">
                div1
            </div>
        </div>
    </body>
</html>