{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Wellness Resources</title>
    <link rel="stylesheet" href="{% static 'resources.css' %}">

</head>
<body>
    <div class="header">
        <div class= "header-content">
            <h1>Mental Wellness Resources</h1>
        </div>
        <div class= "header-content">
            <a href='.'>
                Home
            </a>
        </div>
    </div>
    <div class="resource-container">

        <!-- Breathing Exercises -->
        <div class="resource-box">
            <div class="resource-elements-img">
                <img src="{% static 'm.jpg/breathing2.jpeg' %}" alt="Breathing Exercises">
            </div>
            <div class ="resource-elements-text">
                <div>
                    <h2>Breathing Exercises</h2>
                </div>
                <div>
                    <p>Relax and calm your mind with guided breathing techniques for mental clarity.</p>
                </div>
            </div>
        </div>

        <!-- Workouts -->
        <div class="resource-box">
            <img src="{% static 'm.jpg/exercise3.jpeg' %}" alt="Workouts">
            <h2>Workouts</h2>
            <p>Relieve stress and anxiety with curated workout routines for a healthy body and mind.</p>
        </div>

        <!-- Yoga -->
        <div class="resource-box">
            <img src="{% static 'm.jpg/yoga2.jpeg'%}" alt="Yoga">
            <h2>Yoga</h2>
            <p>Improve flexibility and focus with peaceful yoga practices tailored for mental well-being.</p>
        </div>

        <!-- Music & Podcasts -->
        <div class="resource-box">
            <img src="{% static 'm.jpg/music.jpeg'%}" alt="Music and Podcasts">
            <h2>Music & Podcasts</h2>
            <p>Discover music and podcasts designed to soothe your mind and elevate your mood.</p>
        </div>

        <!-- YouTube Videos -->
        <div class="resource-box">
            <img src="{% static 'm.jpg/editing.jpg'%}" alt="YouTube Videos">
            <h2>YouTube Videos</h2>
            <p>Explore videos about mental health awareness and self-care strategies for a positive outlook.</p>
        </div>

        <div class="resource-box">
            <img src="{% static 'm.jpg/movies.jpeg' %}" alt="Workouts">
            <h2>Movies</h2>
            <p>Wanna see some awesome movies related to mental health .</p>
        </div>
    </div>

</body>
</html>
